@media (max-width: 480px) {

    /* Navbar */
    .container {
        padding: 1rem;
    }

    .logo {
        font-size: 1.7rem;
    }

    .navbar-toggler {
        background: white;
    }

    .navbar-collapse {
        margin: 1rem 0;
    }

    .navbar-nav .link {
        padding: 1rem 0 !important;
    }

    .icons {
        justify-content: space-between;
        margin: 1rem 0 0 0;
    }

    .icons a {
        margin: 0 !important;
        font-size: 1.5rem !important;
    }

    /* Top */
    .Top {
        margin: 8rem 0rem 3rem 0rem;
    }

    .Top-container {
        flex-direction: column-reverse;
    }

    .Top-container-right {
        margin: 0 auto;
    }

    .Top-container-right img {
        width: 10rem;
    }

    .Top-container-left {
        width: 60%;
        margin: 0 auto;
        padding: 3rem;
    }

    .Top-container-left h3 {
        font-size: 2rem;
        text-align: center;
    }

    .Top-container-left p {
        font-size: 1rem;
    }

    .Top-container-left button {
        width: 40%;
    }

    /* Projects */
    .Projects h1 {
        font-size: 2rem;
    }

    .card {
        width: 20rem;
    }

    .card img {
        width: 18rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-body p {
        text-align: justify;
    }

    /* About */
    .about h1 {
        font-size: 2rem;
    }

    .about p {
        width: 100%;
        margin: 1rem 0.5rem;
        padding: 1.5rem;
    }

    /* .about h4 {
        margin: 3rem 1rem 0 1rem;
    } */

    .skill {
        width: 24rem;
        margin: 1rem 1rem;
    }

    /* Contact */
    .contact h1 {
        font-size: 2rem;
    }

    .contact-container {
        width: 82%;
        flex-direction: column;
        margin: 2rem 2rem;
    }

    .contact-container img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .contact-container form {
        width: 100%;
        padding: 1rem 2.5rem 1rem 2.5rem;
        border-radius: 0 0 5px 5px;
    }

    /* Footer */
    .footer p {
        font-size: 0.6rem;
        line-height: 3rem;
    }

    /* Underline */
    .Underline {
        width: 4rem;
        margin-top: 0.5rem;
    }
}